{% extends 'base.html' %}
{% block content %}
    <div class="well spaced" style="width:97%;">
          <h2>Post Details:</h2>
        {% if user_post %}
          <p>Post Event Date: {{ user_post.event_date }}</p>
          <p>Post Type: {{ user_post.ptype }}</p>
          <p>Post Subject: {{ user_post.subject }}</p>
          <p>Post Plate: {{ user_post.vehicle_plate }}</p>
          <p>Post Location: {{ user_post.location }}</p>
          {% if 'user_id' in session %}
            {% if user_post.user_id == session['user_id'] %}
            <!-- <button type="button">Edit Post</button> -->
              <a href="/posts/edit/{{ user_post.post_id }}">Edit post.<a>
            {% endif %}
          {% endif %}
        {% else %}
          <p>Post not found.</p>
        {% endif %}
    </div>
<!-- </div>
</div> -->
{% endblock %}