{% extends 'base.html' %}
{% block content %}

<div class="well spaced" style="width:97%;">
      {% if "user_id" in session %}
        {% if user_post %}
          <h2>Edit Post</h2>
          <form action="/posts/edit/{{ user_post.post_id }}" method="POST">
              <div class="form-group">
                  <label>Event Date:
                    <input type="date" name="event_date"
                             class="form-control input-sm"
                             value="{{ user_post.event_date }}">
                  </label><br>
                  <label>Location:
                    <input type="text" name="location"
                             class="form-control input-sm"
                             value="{{ user_post.location }}">
                  </label><br>
                  <label>Post type (comment, compliment, criticism):
                    <input type="text" name="ptype"
                             class="form-control input-sm"
                             value="{{ user_post.ptype }}">
                  </label><br>
                  <label>Post message:
                    <input type="text" name="subject"
                             class="form-control input-sm"
                             value="{{ user_post.subject }}">
                  </label><br>
<!--  {#               {% if vehicle %}
                  <label>Vehicle plate:
                    <input type="text" name="vehicle_plate"
                             class="form-control input-sm"
                             value="{{ vehicle.vehicle_plate }}">
                  </label><br>
                  <label>Vehicle type (car, truck, MC):
                    <input type="text" name="vtype"
                             class="form-control input-sm"
                             value="{{ vehicle.vehicle_plate }}">
                  </label><br>
                  <label>Vehicle make:
                    <input type="text" name="make"
                             class="form-control input-sm"
                             value="{{ vehicle.vehicle_plate }}">
                  </label><br>
                  <label>Vehicle model:
                    <input type="text" name="model"
                             class="form-control input-sm"
                             value="{{ vehicle.vehicle_plate }}">
                  </label><br>
                  <label>Vehicle color:
                    <input type="text" name="color"
                             class="form-control input-sm"
                             value="{{ vehicle.vehicle_plate }}">
                  </label><br>
                {% endif %}  #}-->
              </div>
              <input type="submit" value="Submit"
                     class="btn btn-danger">
          </form>
        {% endif %}
      {% endif %}

    </div>

{% endblock %}