{% extends 'base.html' %}
{% block content %}

<div class="well spaced" style="width:97%;">
<h1>Edit Post</h1>

<div class="row">

    <div class="col-xs-12 col-lg-6">

    </div>

    <div class="col-xs-12 col-lg-6">
      {% if "user_id" in session %}
          <h2>Your Post</h2>
        {% if user_post %}
          <p>Post Event Date: {{ user_post.event_date }}</p>
          <p>Post Type: {{ user_post.ptype }}</p>
          <p>Post Subject: {{ user_post.subject }}</p>
          <p>Post Plate: {{ user_post.vehicle_plate }}</p>
          <p>Post Location: {{ user_post.location }}</p>
        {% endif %}
          <form action="/post/{{ post.post_id }}" method="POST">
              <div class="form-group">
                  <label>Event Date:
                    <input type="date" name="event_date"
                             class="form-control input-sm">
                  </label>
                  <label>Type:
                    <input type="text" name="ptype"
                             class="form-control input-sm">
                  </label>
                  <label>Subject:
                      <input type="text" name="subject"
                             class="form-control input-sm">
                  </label>
                  <label>Plate:
                    <input type="text" name="vehicle_plate"
                             class="form-control input-sm">
                  </label>
                  <label>Location:
                    <input type="text" name="location"
                             class="form-control input-sm">
                  </label>
              </div>
              <input type="submit" value="Update"
                     class="btn btn-danger">
          </form>
      {% endif %}

    </div>
</div>
</div>
{% endblock %}