{% extends 'base.html' %}
{% block content %}

<div class="well spaced" style="width:97%;">
      {% if "user_id" in session %}
          <h2>Add Post</h2>
          <p id="formInstructions">Fields marked with an asterisk (*) are required.</p>
          <form action="/posts/add" method="POST">
              <div class="form-group">
                <!-- TODO: restrict time entry to not future. -->
                  <label>* Event Date:
                    <input type="datetime-local" id="event_date" name="event_date" required='true'
                             class="form-control input-sm">
                  </label><br>
                  <!-- TODO: add search for existing vehicle plates -->
                  <label>* Vehicle plate (7 characters including spaces, 0-9, A-Z):
                    <input type="text" name="vehicle_plate" maxlength="7" minlength="7" required='true'
                             class="form-control input-sm" pattern="[a-zA-Z0-9\s]+" style="text-transform: uppercase;">
                  </label><br>
                  <!-- TODO: add google location services and address search -->
                  <label>* Location:
                    <input type="text" name="location" required='true'
                             class="form-control input-sm">
                  </label><br>
                  <label>* Post type:
                    <select  name="ptype" required='true' class="form-control input-sm">
                      <option value="compliment">compliment</option>
                      <option value="comment">comment</option>
                      <option value="criticism">criticism</option>
                    </select>
                  </label><br>
                  <label>* Post subject (64 characters max):
                    <input type="text" name="subject" maxlength='64' required='true'
                             class="form-control input-sm">
                  </label><br>
<!-- 
                  <label>Vehicle type:
                    <select  name="vtype" class="form-control input-sm">
                      <option value="car">car</option>
                      <option value="truck">truck</option>
                      <option value="motorcycle">motorcycle</option>
                      <option value="semi">semi</option>
                      <option value="RV">RV</option>
                      <option value="Other">Other</option>
                    </select>
                  </label><br>
                  <label>Vehicle make:
                    <input type="text" name="make"
                             class="form-control input-sm">
                  </label><br>
                  <label>Vehicle model:
                    <input type="text" name="model"
                             class="form-control input-sm">
                  </label><br>
                  <label>Vehicle color:
                    <input type="text" name="color"
                             class="form-control input-sm">
                  </label><br> -->
              </div>
              <input type="submit" value="Submit"
                     class="btn btn-danger">
          </form>
      {% endif %}

    </div>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
$(document).ready(function(){
  var now=new Date();
  $('#event_date').val(new Date(now.getTime()-now.getTimezoneOffset()*60000).toISOString().substring(0,16));
});
</script>

{% endblock %}
