{% extends 'base.html' %}
{% block content %}

    <!-- Styles -->
    <!-- <link rel="stylesheet" type="text/css" href="/vendor/viima/jquery-comments/css/jquery-comments.css">-->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-comments.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Data -->
    <!-- <script type="text/javascript" src="/vendor/viima/jquery-comments/data/comments-data.js"></script>-->
    <!-- <script type="text/javascript" src="/static/data/comments-data.js"></script>-->

    <!-- Libraries -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.js"></script>
    <!-- <script type="text/javascript" src="/vendor/viima/jquery-comments/js/jquery-comments.js"></script>-->
    <script type="text/javascript" src="/static/js/jquery-comments.js"></script>
    <script type="text/javascript" src="/static/js/post-comments.js"></script>

    <div class="well spaced" style="width:97%;">
          <h2>Post Details:</h2>
        {% if user_post %}
        <!-- TODO: add links to user, plate, topic? -->
          <p>Event Date: {{ user_post.event_date }}</p>
          <p>Posted By: {{ user_post.username }}</p>
          <p>Post Type: {{ user_post.ptype }}</p>
          <p>Post Topic: {{ user_post.topic }}</p>
          <p>Vehicle Plate: {{ user_post.vehicle_plate }}</p>
          <p>Event Location: {{ user_post.location }}</p>
          {% if 'user_id' in session %}
            {% if user_post.user_id == session['user_id'] %}
            <!-- <button type="button">Edit Post</button> -->
              <a href="/posts/edit/{{ user_post.post_id }}">Edit post.</a>
            {% endif %}
          {% endif %}
        {% else %}
          <p>Post not found.</p>
        {% endif %}
        <h2>Post Comments:</h2> 
          <div id="comments-container">
          </div>
        {% if post_comments %}
          <div id="comments-container">
          </div>
        {% else %}
          <p>No comments yet.</p>
        {% endif %}
    </div>
{#
<!--
// <script type="text/javascript"> 
//   var commentsArray = [];
//   var commentsArrayLength = post_comments.length;

//   for (var i = 0; i < commentsArrayLength; i++) {
//     commentsArray[i] =
//     {
//       id: '{{post_comments[i].user_id}}',
//       fullname: '{{post_comments[i].username}}',
//       email: '{{post_comments[i].email}}'
//     };
//   }
//   console.log(commentsArray);
// </script>

// <script>

// $('#comments-container').comments({
//     fieldMappings: {
//         id: 'comment_id',
//         parent: 'parent',
//         created: 'date_created',
//         modified: 'date_modified',
//         content: 'content',
//         // file: 'file',  disable option to upload attachments
//         fileURL: 'file_url',
//         // fileMimeType: 'file_mime_type',
//         pings: 'pings',
//         creator: 'user_id',
//         fullname: 'username',
//         profileURL: 'profile_url',
//         // profilePictureURL: 'profile_picture_url',
//         profilePictureURL: 'https://app.viima.com/static/media/user_profiles/user-icon.png',
//         // createdByAdmin: 'created_by_admin',
//         createdByCurrentUser: 'created_by_current_user',
//         upvoteCount: 'upvote_count',
//         userHasUpvoted: 'user_has_upvoted'
//     }
//     getComments: function(success, error) {
//         var commentsArray = [{
//             id: 1,
//             created: '2015-10-01',
//             content: 'Lorem ipsum dolort sit amet',
//             fullname: 'Simon Powell',
//             upvote_count: 2,
//             user_has_upvoted: false
//         }];
//         success(commentsArray);
//     }
// });
// </script>
-->
#}
{% endblock %}