{% extends 'base.html' %}
{% block content %}

<div class="well spaced" style="width:50%;">
<!--   <h2>Profile</h2>

  <b><p style="color:red">Email: {{ email }}</p>
  <p style="color:red">UserID: {{ user_id }}</p>
  <p style="color:red">Password: </p></b>
  <br>
  <p> -->
        {% if "user_id" in session %}
          <h2>Edit Profile</h2>
          <form action="/profile/edit/{{ user.user_id }}" method="POST">
              <div class="form-group">
                  <label>Email:
                    <input type="text" name="email"
                             class="form-control input-sm"
                             value="{{ user.email }}">
                  </label><br>
                  <label>Current Password:
                    <input type="password" name="old_pwd"
                             class="form-control input-sm"
                             value="">
                  </label><br>
                  <!-- TODO: Find out how to secure pwds here. JS? -->
                  <label>New Password:
                    <input type="password" name="new_pwd"
                             class="form-control input-sm"
                             value="">
                  </label><br>
              </div>
              <input type="submit" value="Submit"
                     class="btn btn-danger">
          </form>
      {% endif %}

    <!-- <a href="/profile/edit/{{ user_id }}">Edit profile</a> -->
<!--   <h3>Vehicles</h3>
  <br>List of vehicles here<br>
  <br>Add Vehicle Form Here <br>
  </p> -->
</div>
{% endblock %}